


body {
    margin: 0;
    padding:0;
    background-color: blue;
  
}


.sidebar {
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    width:200px;
    height: 100vh;
    border: 3px solid rgb(192, 192,192);
    background-color: rgb(181, 184, 42);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar a {
    color: #2b2b2b;
    text-decoration: none;
}

.sidebar a:hover {
    color: #2b2bb2;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar > img {
    width:100%;
}

.sidebar .my-link {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgb(192, 192, 192 );
    border-bottom: 2px solid rgb(192, 192, 192 );
    gap: 10px;
    color: #2b2b2b;
    flex: 1;
}

.sidebar .Bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;


}

.Bottom > img {
    height: 100px;
    width: 100px;
    border-radius: 30px;
  
}